/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  overflow: scroll;
  cursor:url("https://rc24.xyz/images/cursors/wii.cur"), default;
}

/* Materialize stuff */

@media (prefers-color-scheme: dark) {
  html {
    background: #333 !important;
  }

  .white-text {
    color: #fff !important;
  }

  .collection .collection-item {
    background-color: #222;
    border-bottom: 1px solid #e0e0e0;
  }

  .collection.with-header .collection-header {
    background-color: #222;
    border-bottom: 1px solid #e0e0e0;
  }

  .card {
    background-color: #222;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #000 !important;
  }
  
  .header {
    color: #2196F3 !important;
  }
  
  h2 {
    color: #2196F3 !important;
  }
  
  .row .light {
    color: #000 !important; /* yes I know this ain't white */
  }
  
  .light {
    color: #000; /* yes I know this ain't white */
  }
}

html {
  color: #c0c0c0 !important;
}

.collection.with-header h5 {
  color: #000;
}

.actually-red {
  color: #ea454b
}

a {
  color: #00b0f4;
  cursor:url("https://rc24.xyz/images/cursors/wii-hover.cur"), default;
}

.collection {
  background: #222;
}

nav ul a,
nav .brand-logo {
/*  color: #444;*/
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 750px;
  line-height: 0;
  height: auto;
}
.parallax-container.small-parallax-container {
  min-height: 0;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  margin: 0;
}

.full-height {
  min-height: 100%;
  min-height: 100vh;
}



/* RiiConnect24 */
.dropdown-content {
  z-index: 1000;
}

.spin  {
-webkit-animation: spin 1s linear infinite;
-moz-animation: spin 1s linear infinite;
animation: spin 1s linear infinite;
}
@-moz-keyframes spin {
100% {
-moz-transform: rotate(360deg);
}
}
@-webkit-keyframes spin {
100% {
-webkit-transform: rotate(360deg);
}
}
@keyframes spin {
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}
