/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  font-family: 'Cantarell', sans-serif;
  overflow: scroll;
}

/* Materialize stuff */

nav ul a,
nav .brand-logo {
/*  color: #444;*/
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
}
.parallax-container.small-parallax-container {
  min-height: 0;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.disc {
  -webkit-animation: spin 1s;
  -moz-animation: spin 1s;
  animation: spin 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-moz-keyframes disc {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes disc {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes disc {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ring {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-moz-keyframes ring {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes ring {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ring {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.full-height {
  min-height: 100%;
  min-height: 100vh;
}

/* RiiConnect24 */
.dropdown-content {
  z-index: 1000;
}
