<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>{{ title }}</title>

	<!-- General Meta tags for SEO -->
	<meta name="language" content="English">
	<meta name="title" content="{{ title }}"/>
	<meta name="author" content="RiiConnect24"/>
	<meta name="copyright" content="&copy; RiiConnect24"/>
	<meta name="robots" content="index, follow"/>
	<meta name="subject" content="Wii Modding">
	<meta name="keywords" content="Nintendo, Larsenv, AwesomeMarioFan, Wii, WiiConnect24">
	<meta name="description" content="RiiConnect24 is a WiiConnect24 Replacement service.">
	<meta name="classification" content="RiiConnect24 is an alternative provider for the now-defunct WiiConnect24 service, designed to allow communication between Nintendo Wii™ consoles via the net.">

	<!-- Open Graph Tags -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ title }}"/>
	<meta property="og:image" content="https://rc24.xyz/images/logo-small.png"/>
	<meta property="og:locale" content="en_US"/>
	<meta property="og:site_name" content="RiiConnect24"/>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="apple-mobile-web-app-title" content="RiiConnect24">
	<meta name="application-name" content="RiiConnect24">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

	<script src="https://use.fontawesome.com/26e513cabd.js"></script>

	<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-72766480-1', 'auto');
   ga('send', 'pageview');

	</script>

{% block headContent %}{% endblock %}
</head>
<body>
{% block navigationBlock %}	<nav class="blue z-depth-0" role="navigation">
{% include "_navigation.html" %}
	</nav>{% endblock %}
{% block mainContent %}{% endblock %}

	<footer class="page-footer blue">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">About RiiConnect24</h5>
					<p class="grey-text text-lighten-4">RiiConnect24 is a service that replaces WiiConnect24, a defunct service from Nintendo for the Wii that allowed for 24/7 standby updating of various services. For example, Mail would be sent and received via WiiConnect24 (and now RiiConnect24), that, aswell as allowing human to human contact, also allowed games to communicate, updating statistics, and friend data, while the Wii was in standby. Furthermore, the latest News and Forecast could be downloaded while in standby and when the Wii is booted, it displays on the screen, with channels that allow you to view it in further detail, aswell as many other locations in the world.</p>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><img width="15px" src="/images/discord.svg" aria-hidden="true"> <a class="white-text" href="https://discord.gg/b4Y7jfD">Discord</a></li>
						<li><i class="fa fa-twitter" aria-hidden="true"></i> <a class="white-text" href="https://twitter.com/RiiConnect24">Twitter</a></li>
						<li><i class="fa fa-facebook-official" aria-hidden="true"></i> <a class="white-text" href="https://www.facebook.com/RiiConnect24">Facebook</a></li>
						<li><i class="fa fa-instagram" aria-hidden="true"></i> <a class="white-text" href="https://www.instagram.com/RiiConnect24">Instagram</a></li>
						<li><i class="fa fa-github" aria-hidden="true"></i> <a class="white-text" href="https://github.com/RiiConnect24">GitHub</a></li>
						<li><i class="fa fa-google-plus" aria-hidden="true"></i> <a class="white-text" href="https://plus.google.com/105778556417310102593">Google+</a></li>
						<li><i class="fa fa-medium" aria-hidden="true"></i> <a class="white-text" href="https://medium.com/RiiConnect24">Medium</a></li>
						<li><i class="fa fa-youtube-play" aria-hidden="true"></i> <a class="white-text" href="https://www.youtube.com/RiiConnect24">YouTube</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Affiliate Projects</h5>
					<ul>
						<li><a class="white-text" href="https://www.projectkaeru.xyz/">Project Kaeru</a></li>
						<li><a class="white-text" href="https://www.sudomemo.net/">Sudomemo</a></li>
						<li><a class="white-text" href="https://wiimmfi.de/">Wiimmfi</a></li>
					</ul>
				</div>
			</div>
			<img src="/images/helpcat.png" alt="Help Cat" />
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; RiiConnect24 2015-2017
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
{% block footerContent %}{% endblock %}
</body>
</html>
