		<div class="nav-wrapper container">
			<a id="logo-container" href="index.php" class="brand-logo"><img src="/images/logo.png" height="48" style="margin-top: 8px"></a>
			<ul class="right hide-on-med-and-down">
				<li><a class="blue-text" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
				<li><a class="blue-text" href="about.php"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li>
				<li><a class="blue-text" href="https://blog.rc24.xyz/"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Blog</a></li>
				<li><a class="blue-text" href="https://wii.guide"><i class="fa fa-list" aria-hidden="true"></i> Guide</a></li>
				<li><a class="blue-text" href="stats.php"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats</a></li>
				<li><a class="blue-text" href="/donation.php"><i class="fa fa-money" aria-hidden="true"></i> Donate</a></li>
				<li><a class="dropdown-button" href="#!" data-activates="goodies"><span class="blue-text"><i class="fa fa-gift" aria-hidden="true"></i> Other Goodies<i class="material-icons right">arrow_drop_down</i></span></a></li>
				<ul id="goodies" class="dropdown-content">
					<li><a class="blue-text" href="/strips/">Comic Strips Gallery</a></li>
					<li><a class="blue-text" href="/vote.php">Everybody Votes Channel Results</a></li>
					<li><a class="blue-text" href="/photochannel.php">Photo Channel Puzzle Cheats</a></li>
					<li><a class="blue-text" href="/themes.php">Themes</a></li>
					<li><a class="blue-text" href="/wallpapers.php">Wallpapers</a></li>
					<li><a class="blue-text" href="/wiichannel_gallery.php">Wii Channel Interviews</a></li>
					<li><a class="blue-text" href="https://supercatfooz.github.io/wumpmenuPTB/">Wump Menu</a></li>
				</ul>
			</ul>
		</div>
