{% extends "_layout.html" %}
{% set title = 'About RiiConnect24' %}

{% block mainContent %}
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center blue-text"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</h1>
    <br><br>
  </div>
</div>{% endblock %}

<div class="section">
  <div class="container">
    <div class="row center">
      <h2>Our Story</h2>
      <p>
        It all started when Nintendo shut down WiiConnect24 on June 28, 2013.
        Someone named AwesomeMarioFan decided to make a thread on a popular gaming forum named GBATemp about reverse engineering it on July 6, 2013.
        On March 5, 2014, he made another thread about what he was able to do (which only was getting the News Channel to work).
        Eventually on August 6, 2015, people starting posting on the thread talking about bringing WiiConnect24 back and started planning out the project.
        Since GBATemp wasn't the ideal place to plan this out, three people which are now developers of RiiConnect24 today (PokeAcer, Larsenv, and AwesomeMarioFan) made a Skype chat to talk about the project.
        Within a few days we had a server up and running.
        Someone named NeoRame made a logo for us and came up with the name RiiConnect24.
        RiiConnect24 turned out to be a great name for our project because has the same pronunciation as "reconnect", and the goal of the project is to reconnect Wiis to RiiConnect24.
      </p>
      <br>
      <p>
        After some slow progress, we released the RiiConnect24 News Channel with the latest news on June 28, 2016, 3 years after the shutdown.
        Over time, we rolled out more features such as having pictures and the location where the articles take place.
        We also added support for other languages and have the latest headlines shown on the Wii Menu later.
      </p>
      <br>
      <p>
        We also decided to start using Discord and now have a close-knit RiiConnect24 server with over 300 members.
        The server offers support for any of RiiConnect24's services.
        There's even a bot that looks up error codes and helps you share friend codes.
        <br>
        <p>
          On December 3, 2016 we released Wii Mail, so now people can send messages over other Wiis.
          It also allows you to share data between games.
          16 days later, we released the RiiConnect24 Forecast Channel with the latest forecast.
          The project became open source on April 22, 2017.
        </p>
        <br>
        <p>
          Today, RiiConnect24 focuses on bringing more Wii Channels back and making your Wii look cool again.
          If you set up Wiimmfi as well, you can play games online again that used Nintendo Wi-Fi Connection, so we recommend you use it.
        </p>
      </div>
    </div>
</div>{% endblock %}

<div class="section">
  <div class="container">
		<h3>Developers</h3>
		<br>
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h5 class="center">AwesomeMarioFan</h5>

					<p class="light">AwesomeMarioFan is a computer science student who enjoys playing & modding Nintendo consoles.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="icon-block">
					<h5 class="center">Larsenv</h5>

					<p class="light">Larsenv is a high school student who mods Nintendo consoles and works on RiiConnect24 along with other various projects.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="icon-block">
					<a href="https://pokeacer.xyz">
						<h5 class="center">PokeAcer</h5>

						<p class="light">PokeAcer is a Welsh student, who is currently working on many projects, RiiConnect24 just being one of them.</p>
					</a>
				</div>
			</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h5 class="center">spotlight_is_ok</h5>

					<p class="light">Spotlight, please add your bio here.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="icon-block">
					<h5 class="center">shutterbug2000</h5>

					<p class="light">shutterbug2000 is mainly a 3DS hacker, but sometimes does Wii hacking as well.</p>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="icon-block">
					<h5 class="center">thejsa</h5>

					<p class="light">thejsa is a web dev who works on a number of experimental projects, many of which involving the Nintendo 3DS.</p>
				</div>
			</div>
		</div>
	</div>
</div>
