{% extends "_layout.html" %}
{% set title = 'Donations' %}

{% block mainContent %}
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text"><i class="fa fa-money" aria-hidden="true"></i> Donations</h1>
			<div class="row center">
				<h5 class="header col s12 light">RiiConnect24 is accepting donations and will give some perks out for doing so.</h5>
			</div>
			<br><br>
		</div>
	</div>
	
	<div class="section">
		<div class="container">
			<h3 class="center">Perks</h3>
			<br>
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-text"><img width="30%" src="images/discordblurple.svg" /></h2>
						<h5 class="center">Discord</h3>
						
						<p class="light">If you are on our <a href="https://discord.gg/b4Y7jfD">Discord chat</a>, you will have a special <span style="color: #01816A;">green</span> role that shows you have donated.</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-text"><i class="fa fa-envelope" aria-hidden="true"></i></h2>
						<h5 class="center">Custom Wii Mail Templates</h3>
						
						<p class="light">You will be able to send <a href="service_mail.html">Wii Mail</a> with fancy mail templates. This perk isn't available yet, but we will give it to all donators once it's finished.</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-text"><i class="fa fa-list" aria-hidden="true"></i></h2>
						<h5 class="center">Credits List</h3>
						
						<p class="light">If you have donated to us, you will be listed on this page.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-text"><i class="fa fa-home" aria-hidden="true"></i></h2>
						<h5 class="center">Letter from Us</h3>
						
						<p class="light">If you donate at least $50, we will send you a thank-you letter that will be delivered to your house.</p>
					</div>
				</div>
				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center blue-text"><i class="fa fa-heart" aria-hidden="true"></i></h2>
						<h5 class="center">Our Gratitude</h3>
						
						<p class="light">We will be very grateful if you donate to us. The money goes to paying for our VPS, domain and other things. If you donate more than $50, one of our RiiConne</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section">
		<div class="container">
			<h3 class="center">Donators</h3>
			
			<ul class="collection">
				<li class="collection-item">dartz</li>
				<li class="collection-item">patrickb78</li>
			</ul>
		</div>
	</div>
{% endblock %}
