{% extends "_layout.html" %}
{% set title = 'Donations' %}

{% block mainContent %}
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text"><i class="fa fa-money" aria-hidden="true"></i> Donations</h1>
			<div class="row center">
				<h5 class="header col s12 light">RiiConnect24 is accepting donations and will give some perks out for doing so.</h5>
				<br>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="QPQEBXJTU7936">
					<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
				</form>
				<!-- Patreon, your button is a bit shitty because it changed the font of the webpage. Mine is shitty too. !-->
				<a class="waves-effect waves-light orange btn" href="https://www.patreon.com/bePatron?u=7497603"><img src="https://c5.patreon.com/external/favicon/favicon-32x32.png"> Become a Patron!</a>
				<br>
				<div id="view-portfolio">
        	<a class="artist-link" target="_blank" href="/people/riiconnect24?utm_campaign=external-portfolio&amp;utm_medium=embedded&amp;utm_source=RiiConnect24">
        	<img class="rb-logo" src="https://d3spquiph2sexc.cloudfront.net/assets/75x75-Brandmark-Transparent-5914f9388de7f61a2e2fb260ed39145a5719139b6559762350135c21771f12c0.png" alt="75x75 brandmark transparent">
        	<span>VIEW MY PORTFOLIO</span>
        	<img class="right-arrow" src="https://d3spquiph2sexc.cloudfront.net/assets/rarr-trans-44aac167284d94a1522aae08e2a9c40c6d515ab554839445c3b43281cb6a2f47.png" alt="Rarr trans">
					</a>
				</div>
			</div>
			<br><br>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<h3 class="center">Donators</h3>

			<ul class="collection">
				<li class="collection-item">Balta</li>
				<li class="collection-item">dartz</li>
				<li class="collection-item">itsyocupid</li>
				<li class="collection-item">jelle619</li>
				<li class="collection-item">Luke</li>
				<li class="collection-item">MCNX</li>
				<li class="collection-item">patrickb78</li>
				<li class="collection-item">Pengu</li>
				<li class="collection-item">Techinicabor</li>
				<li class="collection-item">TheRealProcyon</li>
				<li class="collection-item">TimNook</li>
				<li class="collection-item">WorstDolphinUser</li>
				<li class="collection-item">Xantraus</li>
				<li class="collection-item">ZenPowerBuilder</li>
			</ul>
		</div>
	</div>
{% endblock %}
