{% extends "_layout.html" %}
{% set title = 'A Page' %}

{% block mainContent %}
	<div class="section">
		<div class="container">
			<h1>They're not aliens, they're Earth…liens!</h1>
			<p>You hit me with a cricket bat. I hate yogurt. It's just stuff with bits in. Saving the world with meals on wheels. All I've got to do is pass as an ordinary human being. Simple. What could possibly go wrong?</p>
			<p>Did I mention we have comfy chairs? I am the Doctor, and you are the Daleks! Heh-haa! Super squeaky bum time! You hate me; you want to kill me! Well, go on! Kill me! KILL ME! <strong> It's a fez.</strong> <em> I wear a fez now.</em> Fezes are cool.</p>
			<h2>Did I mention we have comfy chairs?</h2>
			<p>You hit me with a cricket bat. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.</p>
			<ol>
				<li>You hate me; you want to kill me! Well, go on! Kill me! KILL ME!</li><li>The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</li><li>I hate yogurt. It's just stuff with bits in.</li>
			</ol>

			<h3>I am the Doctor, and you are the Daleks!</h3>
			<p>They're not aliens, they're Earth…liens! I am the Doctor, and you are the Daleks! I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
			<ul>
				<li>Saving the world with meals on wheels.</li><li>*Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do!</li><li>Heh-haa! Super squeaky bum time!</li>
			</ul>

			<p>I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. They're not aliens, they're Earth…liens! I'm the Doctor. Well, they call me the Doctor. I don't know why. I call me the Doctor too. I still don't know why.</p>
			<p>Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you? Sorry, checking all the water in this area; there's an escaped fish.</p>
			<p>I am the last of my species, and I know how that weighs on the heart so don't lie to me! Father Christmas. Santa Claus. Or as I've always known him: Jeff. It's a fez. I wear a fez now. Fezes are cool. Saving the world with meals on wheels.</p>
			<p>No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister. *Insistently* Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do!</p>
			<p>I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. Sorry, checking all the water in this area; there's an escaped fish. Stop talking, brain thinking. Hush.</p>
			<p>Father Christmas. Santa Claus. Or as I've always known him: Jeff. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. Saving the world with meals on wheels.</p>
			<p>It's a fez. I wear a fez now. Fezes are cool. The way I see it, every life is a pile of good things and bad things.…hey.…the good things don't always soften the bad things; but vice-versa the bad things don't necessarily spoil the good things and make them unimportant.</p>
			<p>Father Christmas. Santa Claus. Or as I've always known him: Jeff. No… It's a thing; it's like a plan, but with more greatness. It's a fez. I wear a fez now. Fezes are cool. Sorry, checking all the water in this area; there's an escaped fish.</p>
			<p>No… It's a thing; it's like a plan, but with more greatness. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister. Heh-haa! Super squeaky bum time!</p>
			<p>Heh-haa! Super squeaky bum time! Stop talking, brain thinking. Hush. I am the last of my species, and I know how that weighs on the heart so don't lie to me! They're not aliens, they're Earth…liens!</p>
			<p>Sorry, checking all the water in this area; there's an escaped fish. Sorry, checking all the water in this area; there's an escaped fish. You know how I sometimes have really brilliant ideas? Aw, you're all Mr. Grumpy Face today.</p>
		</div>
	</div>
{% endblock %}