{% extends "_layout.html" %}
{% set title = 'Forecast Channel' %}

{% block mainContent %}
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text"><i class="fa fa-sun-o" aria-hidden="true"></i> Forecast Channel</h1>
      <div class="row center">
        <h5 class="header col s12 light">Check the local and international forecasts on your Wii.</h5>
      </div>
      <audio autoplay>
				<source src="/sounds/wiimenuforecast.wav" type="audio/wav">
				Your browser does not support the audio element.
			</audio>
      <br><br>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <p class="light">The Forecast Channel works with RiiConnect24, and you can view the forecasts for several hundreds of cities. You can also view your local forecast on the Wii Menu. We use <a href="https://accuweather.com/">AccuWeather</a> as the weather source, unlike <a href="https://global.weathernews.com">Weathernews</a> that Nintendo used.</p>
      <br>
      <div class="row center">
	    <p class="light">Some games have compatibility with the Forecast Channel, and here's the stats for which ones are working with RiiConnect24:</p>
        <ul class="collection with-header">
	        <li class="collection-header">
				<h4>Color Key</h4>
			</li>
			<li class="collection-item green">
				<h5>Green indicates the Forecast Channel compatibility of this game works with RiiConnect24.</h5>
			</li>
			<li class="collection-item yellow">
				<h5>Yellow indicates we're Not Yet Tested if the Forecast Channel compatibility of this game is working with RiiConnect24.</h5>
			</li>
			<li class="collection-item red">
				<h5>Red indicates the Forecast Channel compatibility of this game isn't working with RiiConnect24 right now.</h5>
			</li>
		</ul>
        <ul class="collection with-header">
          <li class="collection-header blue-text"><h4>List of Games that work with the Forecast Channel</h4></li>
          <li class="collection-item green">
            <h5>Mario & Sonic at the Olympic Winter Games</h5>
          </li>
          <li class="collection-item green">
            <h5>My Aquarium</h5>
          </li>
          <li class="collection-item green">
            <h5>My Aquarium 2</h5>
          </li>
          <li class="collection-item green">
            <h5>NiGHTS: Journey of Dreams</h5>
          </li>
          <li class="collection-item yellow">
            <h5>Tiger Woods PGA Tour 10</h5>
            Not Yet Tested
          </li>
          <li class="collection-item yellow">
            <h5>Tiger Woods PGA Tour 11</h5>
            Not Yet Tested
          </li>
          <li class="collection-item yellow">
            <h5>Tiger Woods PGA Tour 12: The Masters</h5>
            Not Yet Tested
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
