{% extends "_layout.html" %}
{% set title = 'Wii Mail' %}

{% block mainContent %}
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text"><i class="fa fa-envelope" aria-hidden="true"></i> Wii Mail</h1>
			<div class="row center">
				<h5 class="header col s12 light">Communicate with other Wiis again.</h5>
			</div>
			<br><br>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<p>RiiConnect24 allows you to send mail to other Wiis again, as long as both Wiis have them connected to our service. Many games and apps rely on this feature to send data to other Wiis, so you can send Miis through the Mii Channel or send ghost data or friend rankings with Mario Kart Wii, for example.</p>
			<br>
			<div class="row center">
				<ul class="collection with-header">
        	<li class="collection-header blue-text"><h4>List of Working Games/Apps:</h4></li>
					<li class="collection-item">
						<h5>Animal Crossing: City Folk</h5>
						<b>Exchange: </b> Pictures and messages
					</li>
					<li class="collection-item">
						<h5>Big Brain Academy: Wii Degree</h5>
						<b>Exchange: </b> Records
					</li>
					<li class="collection-item">
						<h5>Bonsai Barber</h5>
						<b>Exchange: </b> Pictures
					</li>
					<li class="collection-item">
						<h5>Calling</h5>
						<b>Exchange: </b> Pictures
					</li>
					<li class="collection-item">
						<h5>ExciteBike: World Rally</h5>
						<b>Exchange: </b> Courses
					</li>
					<li class="collection-item">
						<h5>Internet Channel</h5>
						<b>Exchange: </b> Internet addresses
					</li>
					<li class="collection-item">
						<h5>Kirby's Epic Yarn</h5>
						<b>Exchange: </b> Pictures
					</li>
					<li class="collection-item">
						<h5>Mario Kart Wii</h5>
						<b>Exchange: </b> Ghost data and friend requests
					</li>
					<li class="collection-item">
						<h5>Mii Channel</h5>
						<b>Exchange: </b> Miis, and receive Miis in the Mii Parade.
					</li>
					<li class="collection-item">
						<h5>My Aquarium</h5>
						<b>Exchange: </b> Aquariums
					</li>
					<li class="collection-item">
						<h5>My Aquarium 2</h5>
						<b>Exchange: </b> Aquariums
					</li>
					<li class="collection-item">
						<h5>My Pokémon Ranch</h5>
						<b>Exchange: </b> Pictures, and ranch invitations
					</li>
					<li class="collection-item">
						<h5>Photo Channel</h5>
						<b>Exchange: </b> Pictures
					</li>
					<li class="collection-item">
						<h5>Super Mario Galaxy</h5>
						<b>Exchange: </b> Pictures
					</li>
					<li class="collection-item">
						<h5>Super Mario Galaxy 2</h5>
						<b>Exchange: </b> Pictures
					</li>
					<li class="collection-item">
						<h5>Super Smash Bros. Brawl</h5>
						<b>Exchange: </b> Snapshots, stages, replays <b>(You need to be registered with a friend on Wiimmfi to send data)</b>
					</li>
			  </ul>
			</div>
		</div>
	</div>
{% endblock %}
