{% extends "_layout.html" %}
{% set title = 'Forecast Channel' %}

{% block mainContent %}
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Forecast Channel</h1>
      <div class="row center">
        <h5 class="header col s12 light">Check the local and international forecasts on your Wii.</h5>
      </div>
      <br><br>
    </div>
  </div>{% endblock %}

  <div class="section">
    <div class="container">
      <p>The Forecast Channel works with RiiConnect24, and you can view the forecasts for several hundreds of cities. You can also view your local forecast on the Wii Menu.</p>
      <br>
      <div class="row center">
        <ul class="collection with-header">
          <li class="collection-header blue-text"><h4>List of Games that work with the Forecast Channel</h4></li>
          <li class="collection-item">
            <h5>My Aquarium</h5>
            The aquarium weather will reflect on the local forecast.
          </li>
          <li class="collection-item">
            <h5>My Aquarium 2</h5>
            The aquarium weather will reflect on the local forecast.
          </li>
        </ul>
      </div>
    </div>
  </div>
