{% extends "_layout.html" %}
{% set title = 'Everybody Votes Channel Poll Results' %}

{% block mainContent %}+
  <link type="text/css" rel="stylesheet" href="/node_modules/flag-icon-css/css/flag-icon.css">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text"><i class="fa fa-comments" aria-hidden="true"></i> Everybody Votes Channel Poll Results</h1>
			<div class="row center">
				<h5 class="header col s12 light">You can find poll results from all polls in the Everybody Votes Channel here. Each page is very long, but you can use Control/Command + F on your computer to find stuff.</h5>
			</div>
			<br><br>
		</div>
	</div>
	<div class="section">
		<div class="container">
    <ul>
      <li><span class="flag-icon flag-icon-ar"></span><b>Australia</b></li>
      <ul>
         <li><a href="/vote/010_english_results.php">English</a></li>
         <li><a href="/vote/010_french_results.php">French</a></li>
         <li><a href="/vote/010_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-au"></span><b>Australia</b></li>
      <ul>
         <li><a href="/vote/065_english_results.php">English</a></li>
      </ul>
      <li>flag-icon flag-icon-at"></span><b>Austria</b></li>
      <ul>
         <li><a href="/vote/066_dutch_results.php">Dutch</a></li>
         <li><a href="/vote/066_french_results.php">French</a></li>
         <li><a href="/vote/066_german_results.php">German</a></li>
         <li><a href="/vote/066_italian_results.php">Italian</a></li>
      </ul>
      <li>flag-icon flag-icon-be"></span><b>Belgium</b></li>
      <ul>
         <li><a href="/vote/067_dutch_results.php">Dutch</a></li>
         <li><a href="/vote/067_french_results.php">French</a></li>
         <li><a href="/vote/067_german_results.php">German</a></li>
         <li><a href="/vote/067_italian_results.php">Italian</a></li>
      </ul>
      <li>flag-icon flag-icon-br"></span><b>Brazil</b></li>
      <ul>
         <li><a href="/vote/016_english_results.php">English</a></li>
         <li><a href="/vote/016_french_results.php">French</a></li>
         <li><a href="/vote/016_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-ca"></span><b>Canada</b></li>
      <ul>
         <li><a href="/vote/018_english_results.php">English</a></li>
         <li><a href="/vote/018_french_results.php">French</a></li>
         <li><a href="/vote/018_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-cl"></span><b>Chile</b></li>
      <ul>
         <li><a href="/vote/020_english_results.php">English</a></li>
         <li><a href="/vote/020_french_results.php">French</a></li>
         <li><a href="/vote/020_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-co"></span><b>Colombia</b></li>
      <ul>
         <li><a href="/vote/021_english_results.php">English</a></li>
         <li><a href="/vote/021_french_results.php">French</a></li>
         <li><a href="/vote/021_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-cr"></span><b>Costa Rica</b></li>
      <ul>
         <li><a href="/vote/022_english_results.php">English</a></li>
         <li><a href="/vote/022_french_results.php">French</a></li>
         <li><a href="/vote/022_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-dk"></span><b>Denmark</b></li>
      <ul>
         <li><a href="/vote/074_english_results.php">English</a></li>
      </ul>
      <li>flag-icon flag-icon-ec"></span><b>Ecuador</b></li>
      <ul>
         <li><a href="/vote/025_english_results.php">English</a></li>
         <li><a href="/vote/025_french_results.php">French</a></li>
         <li><a href="/vote/025_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-fi"></span><b>Finland</b></li>
      <ul>
         <li><a href="/vote/076_english_results.php">English</a></li>
      </ul>
      <li>flag-icon flag-icon-fr"></span><b>France</b></li>
      <ul>
         <li><a href="/vote/077_french_results.php">French</a></li>
      </ul>
      <li>flag-icon flag-icon-gt"></span><b>Guatemala</b></li>
      <ul>
         <li><a href="/vote/030_english_results.php">English</a></li>
         <li><a href="/vote/030_french_results.php">French</a></li>
         <li><a href="/vote/030_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-it"></span><b>Italy</b></li>
      <ul>
         <li><a href="/vote/083_italian_results.php">Italian</a></li>
      </ul>
      <li>flag-icon flag-icon-lu"></span><b>Luxembourg</b></li>
      <ul>
         <li><a href="/vote/088_dutch_results.php">Dutch</a></li>
         <li><a href="/vote/088_french_results.php">French</a></li>
         <li><a href="/vote/088_german_results.php">German</a></li>
         <li><a href="/vote/088_italian_results.php">Italian</a></li>
      </ul>
      <li>flag-icon flag-icon-mx"></span><b>Mexico</b></li>
      <ul>
         <li><a href="/vote/036_english_results.php">English</a></li>
         <li><a href="/vote/036_french_results.php">French</a></li>
         <li><a href="/vote/036_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-nl"></span><b>Netherlands</b></li>
      <ul>
         <li><a href="/vote/094_dutch_results.php">Dutch</a></li>
      </ul>
      <li>flag-icon flag-icon-nz"></span><b>New Zealand</b></li>
      <ul>
         <li><a href="/vote/095_english_results.php">English</a></li>
      </ul>
      <li>flag-icon flag-icon-no"></span><b>Norway</b></li>
      <ul>
         <li><a href="/vote/096_english_results.php">English</a></li>
      </ul>
      <li>flag-icon flag-icon-pa"></span><b>Panama</b></li>
      <ul>
         <li><a href="/vote/040_english_results.php">English</a></li>
         <li><a href="/vote/040_french_results.php">French</a></li>
         <li><a href="/vote/040_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-pe"></span><b>Peru</b></li>
      <ul>
         <li><a href="/vote/042_english_results.php">English</a></li>
         <li><a href="/vote/042_french_results.php">French</a></li>
         <li><a href="/vote/042_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-pt"></span><b>Portugal</b></li>
      <ul>
         <li><a href="/vote/098_english_results.php">English</a></li>
         <li><a href="/vote/098_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-es"></span><b>Spain</b></li>
      <ul>
         <li><a href="/vote/105_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-se"></span><b>Sweden</b></li>
      <ul>
         <li><a href="/vote/107_english_results.php">English</a></li>
      </ul>
      <li>flag-icon flag-icon-ch"></span><b>Switzerland</b></li>
      <ul>
         <li><a href="/vote/108_dutch_results.php">Dutch</a></li>
         <li><a href="/vote/108_french_results.php">French</a></li>
         <li><a href="/vote/108_german_results.php">German</a></li>
         <li><a href="/vote/108_italian_results.php">Italian</a></li>
      </ul>
      <li>flag-icon flag-icon-gb"></span><b>United Kingdom</b></li>
      <ul>
         <li><a href="/vote/110_english_results.php">English</a></li>
      </ul>
      <li>flag-icon flag-icon-us"></span><b>United States</b></li>
      <ul>
         <li><a href="/vote/049_english_results.php">English</a></li>
         <li><a href="/vote/049_french_results.php">French</a></li>
         <li><a href="/vote/049_spanish_results.php">Spanish</a></li>
      </ul>
      <li>flag-icon flag-icon-ve"></span><b>Venezuela</b></li>
      <ul>
         <li><a href="/vote/052_english_results.php">English</a></li>
         <li><a href="/vote/052_french_results.php">French</a></li>
         <li><a href="/vote/052_spanish_results.php">Spanish</a></li>
      </ul>
    </ul>
    </div>
	</div>
{% endblock %}
