<footer class="page-footer blue">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text"><i class="fas fa-info-circle" aria-hidden"true"></i> About RiiConnect24</h5>
				<p class="grey-text text-lighten-4">
					RiiConnect24 is a service that replaces WiiConnect24, a defunct service from Nintendo for the Wii that allowed for 24/7 standby updating of various services. For example, Mail would be sent and received via WiiConnect24 (and now RiiConnect24), that, aswell as allowing human to human contact, also allowed games to communicate, updating statistics, and friend data, while the Wii was in standby. Furthermore, the latest News and Forecast could be downloaded while in standby and when the Wii is booted, it displays on the screen, with channels that allow you to view it in further detail, aswell as many other locations in the world.
					<br><br>
					<a class="green-darken-2 btn" href="/donation.html"><i class="fas fa-money-bill-alt" aria-hidden="true"></i> Donate</a>
				</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text"><i class="fas fa-share-square" aria-hidden"true"></i> Social Media</h5>
				<ul>
					<li><i class="fab fa-discord" aria-hidden="true"></i> <a class="white-text" href="https://discord.gg/b4Y7jfD">Discord</a></li>
					<li><i class="fab fa-facebook" aria-hidden="true"></i> <a class="white-text" href="https://www.facebook.com/RiiConnect24">Facebook</a></li>
					<li><i class="fab fa-instagram" aria-hidden="true"></i> <a class="white-text" href="https://www.instagram.com/RiiConnect24">Instagram</a></li>
					<li><i class="fab fa-github" aria-hidden="true"></i> <a class="white-text" href="https://github.com/RiiConnect24">GitHub</a></li>
					<li><i class="fab fa-google-plus" aria-hidden="true"></i> <a class="white-text" href="https://plus.google.com/+RiiConnect24">Google+</a></li>
					<li><i class="fab fa-medium" aria-hidden="true"></i> <a class="white-text" href="https://medium.com/RiiConnect24">Medium</a></li>
					<li><i class="fab fa-twitter" aria-hidden="true"></i> <a class="white-text" href="https://twitter.com/RiiConnect24">Twitter</a></li>
					<li><i class="fab fa-youtube" aria-hidden="true"></i> <a class="white-text" href="https://www.youtube.com/RiiConnect24">YouTube</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text"><i class="fas fa-puzzle-piece" aria-hidden"true"></i> Affiliate Projects</h5>
				<ul>
					<li><a class="white-text" href="https://kaeru.world/">kaeru:world</a></li>
					<li><a class="white-text" href="https://www.sudomemo.net/">Sudomemo</a></li>
					<li><a class="white-text" href="https://wiimmfi.de/">Wiimmfi</a></li>
				</ul>
			</div>
		</div>
		<img src="/images/helpcat.gif" alt="Help Cat" />
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy; RiiConnect24 2015 - 2017
		</div>
	</div>
</footer>

<style type="text/css">
</style>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
(function($){
	$(function(){

		$('.button-collapse').sideNav();
		$('.parallax').parallax();

	}); // end of document ready
})(jQuery); // end of jQuery name space
</script>
