<footer class="page-footer blue">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text"><i class="fas fa-info-circle" aria-hidden"true"></i> About RiiConnect24</h5>
				<p class="grey-text text-lighten-4">
					RiiConnect24 is an alternative provider for the now-defunct WiiConnect24 service, designed to allow communication between Nintendo Wii™ consoles via the net. This allows you to use services such as the Forecast, News, and Everybody Votes Channel again, and exchange mail between other Wiis and e-mail.
					<br><br>
					<a class="green-darken-2 btn" href="/donation.html"><i class="fas fa-money-bill-alt" aria-hidden="true"></i> Donate</a>
				</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text"><i class="fas fa-share-square" aria-hidden"true"></i> Connect with Us</h5>
				<ul>
					<li><i class="fab fa-discord" aria-hidden="true"></i> <a class="white-text" href="https://discord.gg/b4Y7jfD">Discord</a></li>
					<li><i class="fab fa-facebook-square" aria-hidden="true"></i> <a class="white-text" href="https://www.facebook.com/RiiConnect24">Facebook</a></li>
					<li><i class="fab fa-instagram" aria-hidden="true"></i> <a class="white-text" href="https://www.instagram.com/RiiConnect24">Instagram</a></li>
					<li><i class="fab fa-github" aria-hidden="true"></i> <a class="white-text" href="https://github.com/RiiConnect24">GitHub</a></li>
					<li><i class="fab fa-medium" aria-hidden="true"></i> <a class="white-text" href="https://medium.com/RiiConnect24">Medium</a></li>
					<li><i class="fab fa-reddit" aria-hidden="true"></i> <a class="white-text" href="https://reddit.com/r/RiiConnect24">Reddit</a></li>
					<li><i class="fab fa-twitter" aria-hidden="true"></i> <a class="white-text" href="https://twitter.com/RiiConnect24">Twitter</a></li>
					<li><i class="fab fa-youtube" aria-hidden="true"></i> <a class="white-text" href="https://www.youtube.com/RiiConnect24">YouTube</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text"><i class="fas fa-puzzle-piece" aria-hidden"true"></i> Affiliate Projects</h5>
				<ul>	
					<li><a class="white-text" href="https://gametdb.com/">GameTDB</a></li>
					<li><a class="white-text" href="https://oscwii.org/">Open Shop Channel</a></li>
					<li><a class="white-text" href="https://wiidatabase.de/">WiiDatabase</a></li>
					<li><a class="white-text" href="https://wiimmfi.de/">Wiimmfi</a></li>
				</ul>
			</div>
		</div>
		<a href="/goodies/cat">
			<img src="/images/helpcat.gif" alt="Help Cat" />
		</a>
		<a href="/goodies/ring/">
			<img src="/images/wiimenu/ring.png" alt="Wii Shop Channel Ring"  width="46px" class="spin" />
		</a>
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy; RiiConnect24 2015 - 2020
			<div class="right">
				<a class="grey-text text-lighten-4" href="/branding.html"><i class="fas fa-palette" aria-hidden="true"></i> Branding</a>&nbsp;
				<a class="grey-text text-lighten-4" href="https://status.rc24.xyz/"><i class="fas fa-chart-bar" aria-hidden="true"></i> Current Status</a>&nbsp;
				<a class="grey-text text-lighten-4" href="mailto:support@riiconnect24.net"><i class="fas fa-envelope" aria-hidden="true"></i> Contact</a>
			</div>
		</div>
	</div>
</footer>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
(function($){
  $(function(){

    $('.sidenav').sidenav();
    $('.parallax').parallax();

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
