<footer class="page-footer blue">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text"><i class="fas fa-info-circle" aria-hidden"true"></i> About RiiConnect24</h5>
				<p class="grey-text text-lighten-4">
					RiiConnect24 lets you use the defunct WiiConnect24 service on your Wii once again, allowing you to
					use the
					Forecast, News, Everybody Votes, Check Mii Out and Nintendo Channel, along with sending mail to
					other Wiis.
					<br><br>
					<a class="green-darken-2 btn" href="/donation.html"><i class="fas fa-money-bill-alt"
							aria-hidden="true"></i> Donate</a>
				</p>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text"><i class="fas fa-share-square" aria-hidden="true"></i> Connect with Us</h5>
				<ul>
					<li><i class="fas fa-cloud" aria-hidden="true"></i> <a class="white-text"
							href="https://bsky.app/profile/riiconnect24.bsky.social">Bluesky</a></li>
					<li><i class="fab fa-discord" aria-hidden="true"></i> <a class="white-text"
							href="https://discord.gg/rc24">Discord</a></li>
					<li><i class="fab fa-instagram" aria-hidden="true"></i> <a class="white-text"
							href="https://www.instagram.com/RiiConnect24">Instagram</a></li>
					<li><i class="fab fa-mastodon" aria-hidden="true"></i> <a class="white-text"
							href="https://mastodon.social/@RiiConnect24">Mastodon</a></li>
					<li><i class="fab fa-github" aria-hidden="true"></i> <a class="white-text"
							href="https://github.com/RiiConnect24">GitHub</a></li>
					<li><i class="fab fa-reddit" aria-hidden="true"></i> <a class="white-text"
							href="https://reddit.com/r/RiiConnect24">Reddit</a></li>
					<li><i class="fab fa-threads" aria-hidden="true"></i> <a class="white-text"
							href="https://threads.net/@riiconnect24">Threads</a></li>
					<li><i class="fab fa-youtube" aria-hidden="true"></i> <a class="white-text"
							href="https://www.youtube.com/RiiConnect24">YouTube</a></li>
				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text"><i class="fas fa-puzzle-piece" aria-hidden="true"></i> Affiliate Projects</h5>
				<ul>
					<li><a class="white-text" href="https://gametdb.com/">GameTDB</a></li>
					<li><a class="white-text" href="https://oscwii.org/">Open Shop Channel</a></li>
					<li><a class="white-text" href="https://wiidatabase.de/">WiiDatabase</a></li>
					<li><a class="white-text" href="https://wiimmfi.de/">Wiimmfi</a></li>
				</ul>
			</div>
		</div>
		<a href="/goodies/cat">
			<img src="/images/helpcat.gif" alt="Help Cat" />
		</a>
		<a href="/goodies/ring/">
			<img src="/images/wiimenu/ring.png" alt="Wii Shop Channel Ring" width="46px" class="spin" />
		</a>
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy; RiiConnect24 2015 - 2023
			<div class="right">
				<a class="grey-text text-lighten-4" href="/branding.html"><i class="fas fa-palette"
						aria-hidden="true"></i> Branding</a>&nbsp;
				<a class="grey-text text-lighten-4" href="https://status.rc24.xyz/"><i class="fas fa-chart-bar"
						aria-hidden="true"></i> Current Status</a>&nbsp;
				<a class="grey-text text-lighten-4" href="mailto:support@riiconnect24.net"><i class="fas fa-envelope"
						aria-hidden="true"></i> Contact</a>
			</div>
		</div>
	</div>
</footer>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
	(function ($) {
		$(function () {

			$('.sidenav').sidenav();
			$('.parallax').parallax();

		}); // end of document ready
	})(jQuery); // end of jQuery name space
</script>