<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>{{ page.title }}</title>

  <!-- General Meta tags for SEO -->
  <meta name="language" content="en">
  <meta name="title" content="{{ page.title }}" />
  <meta name="author" content="RiiConnect24" />
  <meta name="copyright" content="&copy; RiiConnect24" />
  <meta name="robots" content="index, follow" />
  <meta name="subject" content="Wii Modding">
  <meta name="keywords" content="Nintendo, Wii, Homebrew, WiiConnect24">
  <meta name="description" content="RiiConnect24 is a WiiConnect24 replacement service.">
  <meta name="classification" content="RiiConnect24 is an alternative provider for the now-defunct WiiConnect24 service, designed to allow communication between Nintendo Wii™ consoles via the net.">

  <!-- Open Graph Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:image" content="/goodies/wallpapers/riiconnect24_background_1_1920x1080.png" />
  <meta property="og:locale" content="en" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="RiiConnect24 is an alternative provider for the now-defunct WiiConnect24 service, designed to allow communication between Nintendo Wii™ consoles via the net.">

  <!-- Twitter -->

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@RiiConnect24">
  <meta name="twitter:creator" content="@RiiConnect24">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="RiiConnect24">
  <meta name="application-name" content="RiiConnect24">
  <meta name="theme-color" content="#2cb6ea">

  <!-- Materialize CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  
  <!-- Wii User Agent Check -->
  <script type="text/javascript">
    var ua = navigator.userAgent;
    if (ua.indexOf("Wii") !== -1) {
      document.write('<meta http-equiv="refresh" content="0; URL=http://bookmark.rc24.xyz/" />');
    }
  </script>

  <!-- Font Awesome --> 
  <script src="https://kit.fontawesome.com/8c73d9a1fd.js"></script>
  
  <!-- Google Analytics -->
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() {
      window.setTimeout(loadDeferredStyles, 0);
    });
    else window.addEventListener('load', loadDeferredStyles);

    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-72766480-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
