<div class="nav-wrapper container">
	<a id="logo-container" href="/" class="brand-logo"><img src="/images/logo_white.svg" height="48" style="margin-top: 8px" alt="RiiConnect24 Logo"></a>

	<ul class="right hide-on-med-and-down">
		<li><a href="/about.html"><i class="fas fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="/faq.html"><i class="fas fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
		<li><a href="https://wii.guide"><i class="fas fa-list" aria-hidden="true"></i> Guide</a></li>
		<li><a href="/stats/index.html"><i class="fas fa-chart-bar" aria-hidden="true"></i> Stats</a></li>
		<li><a href="/goodies/index.html"><i class="fas fa-gift" aria-hidden="true"></i> Goodies</a></li>
	</ul>
	<ul id="nav-mobile" class="side-nav">
		<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
		<li><a href="/about.html"><i class="fas fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="/faq.html"><i class="fas fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
		<li><a href="https://wii.guide"><i class="fas fa-list" aria-hidden="true"></i> Guide</a></li>
		<li><a href="/stats/index.html"><i class="fas fa-chart-bar" aria-hidden="true"></i> Stats</a></li>
		<li><a href="/goodies/index.html"><i class="fas fa-gift" aria-hidden="true"></i> Goodies</a></li>
	</ul>
	<a href="#" data-activates="nav-mobile" class="button-collapse"><span style="color: white;"><i class="fas fa-bars"></i></span></a>
</div>
