<div class="nav-wrapper container">
	<a id="logo-container" href="/" class="brand-logo"><img src="/images/logo_white.svg" height="48" style="margin-top: 8px" alt="RiiConnect24 Logo"></a>

	<ul class="right hide-on-med-and-down">
		<li><a href="/about.html"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="https://medium.com/RiiConnect24"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Blog</a></li>
		<li><a href="https://wii.guide"><i class="fa fa-list" aria-hidden="true"></i> Guide</a></li>
		<li><a href="/stats/index.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats</a></li>
		<li><a href="/goodies/index.html"><i class="fa fa-gift" aria-hidden="true"></i> Goodies</a></li>
	</ul>
	<ul id="nav-mobile" class="side-nav">
		<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
		<li><a href="/about.html"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a></li>
		<li><a href="https://medium.com/RiiConnect24"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Blog</a></li>
		<li><a href="https://wii.guide"><i class="fa fa-list" aria-hidden="true"></i> Guide</a></li>
		<li><a href="/stats/index.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats</a></li>
		<li><a href="/goodies/index.html"><i class="fa fa-gift" aria-hidden="true"></i> Goodies</a></li>
	</ul>
	<a href="#" data-activates="nav-mobile" class="button-collapse"><span style="color: white;"><i class="fa fa-bars"></i></span></a>
</div>
