<style>
	.headerz {
		padding: 1px;
		text-align: center;
		background: #1e8bf1;
		color: white;
		font-size: 20px;
	}
</style>
<div class="headerz">
	<p>RiiConnect24 is deprecating its old DNS server on June 1, 2023.</p> <a href="https://rc24.xyz/dns"
		class="yellow-text">Read more here to learn what you need to
		do.</a>
</div>
<div class="nav-wrapper container">
	<a href="/" class="brand-logo"><img src="/images/logo_white.svg" height="48" style="margin-top: 8px"
			alt="RiiConnect24 Logo"></a>
	<a href="#" data-target="mobile" class="sidenav-trigger"><span style="color: white;"><i
				class="fas fa-bars"></i></span></a>
	<ul class="right hide-on-med-and-down">
		<li><a href="/about.html"><i class="fas fa-info-circle" aria-hidden="true"></i> About</a></li>
		<li><a href="/faq.html"><i class="fas fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
		<li><a href="https://wii.guide"><i class="fas fa-list" aria-hidden="true"></i> Guide</a></li>
		<li><a href="/stats/index.html"><i class="fas fa-chart-bar" aria-hidden="true"></i> Stats</a></li>
		<li><a href="/goodies/index.html"><i class="fas fa-gift" aria-hidden="true"></i> Goodies</a></li>
	</ul>
</div>

<ul class="sidenav" id="mobile">
	<li><a href="/about.html"><i class="fas fa-info-circle" aria-hidden="true"></i> About</a></li>
	<li><a href="/faq.html"><i class="fas fa-question-circle" aria-hidden="true"></i> FAQ</a></li>
	<li><a href="https://wii.guide"><i class="fas fa-list" aria-hidden="true"></i> Guide</a></li>
	<li><a href="/stats/index.html"><i class="fas fa-chart-bar" aria-hidden="true"></i> Stats</a></li>
	<li><a href="/goodies/index.html"><i class="fas fa-gift" aria-hidden="true"></i> Goodies</a></li>
</ul>