<style>
    .headerz {
        padding: 30px;
        text-align: center;
        background: #1e8bf1;
        color: white;
        font-size: 20px;
    }
</style>
<div class="headerz">
    Follow us on <a href="https://bsky.app/profile/riiconnect24.bsky.social" class="yellow-text">Bluesky</a>, <a href="https://mastodon.social/@RiiConnect24" class="yellow-text">Mastodon</a>, and <a href="https://threads.net/@riiconnect24" class="yellow-text">Threads</a>.
</div>
<nav class="blue z-depth-0" role="navigation">
    {% include navigation.html %}
</nav>
