
a, a img {outline:none !important; border: 0px;}

#wrap {width: 555px; text-align: center; margin:0 auto; padding:0;}
#wrap ol {list-style: none inside;margin:7px 0 0 7px;padding:0; text-align: center;}
#wrap li {display:inline; text-align: center;}
ol li {width: 135px;height: 111px; float:left;text-align: center;}
ol a {display:block;text-decoration:none;padding:3px 3px;background:#fff url(img_wide/bglink_wide.gif) no-repeat 0 0;background-position: 5px 0px; text-align: center;}

li a:hover {background-position: 5px -106px;}
