{% extends "_layout.html" %}
{% set title = 'Stats' %}

{% block mainContent %}
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text"><i class="fa fa-bar-chart" aria-hidden="true"></i> Stats</h1>
			<div class="row center">
				<h5 class="header col s12 light">This tells you what services are currently available with RiiConnect24. We are working hard to bring Channels like the Everybody Votes Channel back up again.</h5>
			</div>
			<audio autoplay>
				<source src="/sounds/wiimenureserved.wav" type="audio/wav">
				Your browser does not support the audio element.
			</audio>
			<br><br>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row center">
				<ul class="collection with-header">
					<li class="collection-header">
						<h4>Color Key</h4>
					</li>
					<li class="collection-item green">
						<h5>Green indicates this service is working.</h5>
					</li>
					<li class="collection-item yellow">
						<h5>Yellow indicates that we're working on this service, but it hasn't been released yet.</h5>
					</li>
					<li class="collection-item orange">
						<h5>Orange indicates that some work will be needed to run this service, but it hopefully will eventually work.</h5>
					</li>
					<li class="collection-item red">
						<h5>Red indicates that we're not looking into working on this service at this time.</h5>
					</li>
			  </ul>
				<br>
				<ul class="collection with-header">
	       	<li class="collection-header">
						<h4>Stats</h4>
					</li>
					<li class="collection-item green">
						<h5>EULA</h5>
						<a href="/eula/en-pc.html">Fully custom. You can view them on your computer (to view the EULA, click here.)
					</li>
					<li class="collection-item green">
						<h5><a href="/services/forecast.php" class="dark-blue-text">Forecast Channel</a></h5>
						It has the latest forecast on it.
					</li>
					<li class="collection-item green">
						<h5><a href="/services/news.php" class="dark-blue-text">News Channel</a></h5>
						It has the latest news on it.
					</li>
					<li class="collection-item green">
						<h5>WiiConnect24 Announcements</h5>
						Fully complete, we understand how to create new files, create new text, and add a Mii and/or image.
					</li>
					<li class="collection-item green">
						<h5><a href="/services/mail.php" class="dark-blue-text">Wii Message Board</a></h5>
						This works with a patcher. See our guide for instructions.
					</li>
					<li class="collection-item yellow">
						<h5>Animal Crossing: City Folk DLC</h5>
						We will release some DLC at some point in the future.
					</li>
					<li class="collection-item yellow">
						<h5>Everybody Votes Channel</h5>
						We're testing this.
					</li>
					<li class="collection-item orange">
						<h5>Check Mii Out Channel/Mii Contest Channel</h5>
						We have no dumps for this.
					</li>
					<li class="collection-item orange">
						<h5>Nintendo Channel</h5>
						We have very little data but we might be able to support it.
					</li>
					<li class="collection-item red">
						<h5>Demae Channel</h5>
						We have no plans to look into this Channel.
					</li>
					<li class="collection-item red">
						<h5>Digicam Print Channel</h5>
						We have no plans to look into this Channel.
					</li>
					<li class="collection-item red">
						<h5>TV no Tomo Channel G Guide for Wii</h5>
						We have no plans to look into this Channel, and there's no service to get TV data from.
					</li>
					<li class="collection-item red">
						<h5>Wii no Ma</h5>
						No dumps and no service to buy items from. We will eventually release some tools and templates to recreate these cool Mii Products they had available to buy on this Channel though.
					</li>
			  </ul>
			</div>
		</div>
	</div>
{% endblock %}
