body {
	background: url(../img/bg.gif) #f2f3f5 repeat-x;
	padding: 0;
	margin: 0;
	text-align: center;
}

#main {
	width: 223px;
	height: 465px;
	margin: 0 auto;
	position: relative;
}

#main .ttl {
	top: 17px;
	left: 3px;
	position: absolute;
}
#main .btnNintendo {
	top: 6px;
	left: 115px;
	position: absolute;
}
#main .btnDS {
	top: 117px;
	left: 115px;
	position: absolute;
}
#main .btnWii {
	top: 117px;
	left: 0px;
	position: absolute;
}
#main .btnWiFi {
	top: 229px;
	left: 0px;
	position: absolute;
}
#main .btnTouchGenerations {
	top: 229px;
	left: 115px;
	position: absolute;
}
#main .btnConsumerSupport {
	top: 341px;
	left: 0px;
	position: absolute;
}
#main .btnMyOpera {
	top: 341px;
	left: 115px;
	position: absolute;
}
#main .btnFlipnoteHatena {
	top: 453px;
	left: 0px;
	position: absolute;
}
