{% extends "_layout.html" %}
{% set title = 'Digicam Print Channel' %}

{% block mainContent %}
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text"><i class="fa fa-camera" aria-hidden="true"></i> Digicam Print Channel</h1>
      <div class="row center">
        <h5 class="header col s12 light">We are not planning to bring this service back.</h5>
        <img src="/images/wiimenu/digicam.png" alt="Digicam" />
      </div>
      <audio autoplay>
				<source src="/sounds/wiimenudigicam.wav" type="audio/wav">
				Your browser does not support the audio element.
			</audio>
      <br><br>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <p class="light">The Digicam Print Channel was a Japan-exclusive Channel that let you take pictures from the Photo Channel and order products like photo albums and business cards with them. Nintendo partnered with <a href="http://fujifilm.com/">Fujifilm</a> to make this happen.</p>
    </div>
  </div>
{% endblock %}
