{% extends "_layout.html" %}
{% set title = 'Wii Mail' %}

{% block mainContent %}
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text"><i class="fa fa-envelope" aria-hidden="true"></i> Wii Message Board</h1>
			<div class="row center">
				<h5 class="header col s12 light">Communicate with other Wiis again.</h5>
				<img src="/images/wiimenu/letteryellow.png" alt="Letter">
			</div>
			<br><br>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<p class="light">
				RiiConnect24 allows you to send messages to other Wiis again, as long as both Wiis are connected to our service. Many games and apps rely on this feature to send data to other Wiis, so you can send Miis through the Mii Channel or send ghost data or friend rankings with Mario Kart Wii, for example. You can also send messages to people via email or phone, which is powered by <a href="https://sendgrid.com">SendGrid</a>.

				<a href="/stats/mail.php">To see stats of which games currently allow you to send messages to your friends' Wii Message Boards, click here.</a>
			</p>
		</div>
	</div>
{% endblock %}
