{% extends "_layout.html" %}
{% set title = 'News Channel' %}

{% block mainContent %}
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News Channel</h1>
			<div class="row center">
				<h5 class="header col s12 light">Read news on your Wii.</h5>
			</div>
			<audio autoplay>
				<source src="/sounds/wiimenunews.wav" type="audio/wav">
				Your browser does not support the audio element.
			</audio>
			<br><br>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<p>The News Channel works with RiiConnect24, and you can read news in 7 different languages (Japanese, English, German, French, Spanish, Italian and Dutch) depending on what language your Wii's set to. They all have the location where the article takes place in on the Globe (location data comes from <a href="https://developers.google.com/maps/">Google Maps API</a>) and has pictures associated with the article. Plus, you can view the headlines on the Wii Menu. See below to see what news sources are used for each language.</p>
			<br>
			<div class="row center">
				<ul class="collection with-header">
        	<li class="collection-header blue-text"><h4>List of News Sources</h4></li>
					<li class="collection-item">
						<h5>Japanese</h5>
						<a href="https://jp.reuters.com">Reuters</a>
					</li>
					<li class="collection-item">
						<h5>English (America)</h5>
						<a href="https://www.ap.org">Associated Press</a>
					</li>
					<li class="collection-item">
						<h5>English (Europe)</h5>
						<a href="http://uk.reuters.com">Reuters</a>
					</li>
					<li class="collection-item">
						<h5>German</h5>
						<a href="http://www.zeit.de">ZEIT ONLINE</a>
					</li>
					<li class="collection-item">
						<h5>French</h5>
						<a href="https://www.afp.com/fr">AFP</a> (through <a href="http://tempsreel.nouvelobs.com">L'Obs</a> and <a href="http://www.laprovence.com">La Provence</a>)
					</li>
					<li class="collection-item">
						<h5>Spanish (America)</h5>
						<a href="https://www.ap.org">Associated Press</a>
					</li>
					<li class="collection-item">
						<h5>Spanish (Europe)</h5>
						<a href="https://www.efe.com">EFE</a>
					</li>
					<li class="collection-item">
						<h5>Italian</h5>
						<a href="http://www.ansa.it">ANSA</a>
					</li>
					<li class="collection-item">
						<h5>Dutch</h5>
						<a href="http://www.nu.nl">NU.nl</a>
					</li>
			  </ul>
			</div>
		</div>
	</div>
{% endblock %}
